body{
    margin: 0;
    padding: 0;
}
.post-item{
    margin-top: 5%;
}

.post-title, .post-date, .post-excerpt{
    margin: 10px;
}

.post-date{
    font-size: 0.8em;
    font-style: italic;
    color: darkolivegreen;
}